body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0074cc; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    background-color: #0074cc; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.info-contacto {
    text-align: left;
}
